<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>


		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />

		<!-- The main CSS file -->
		<link href="style.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->



	<body ng-app="myApp">

 <div ng-controller="myCtrl">
 <div id="trial" style="width: 900px;height: 100px">

		<nav class="{{active}}" ng-click="$event.preventDefault()">

			<!-- When a link in the menu is clicked, we set the active variable -->

			<a href="#" class="home" ng-click="home();active='home';">Home</a>

			<a href="#" class="about" ng-click="active='about';about();">About</a>
			<a href="#" class="contact" ng-click="active='contact';resume();">Resume</a>
			<a href="#" class="project" ng-click="active='project';project();">Projects</a>
			<!--<a href="#" class="Hire_me" ng-click="active='Hire_me';hire_me();">Hire Me</a>-->
		</nav>

	<div class="card">
  <img src="sayali.jpg" alt="Sayali" style="width:100%">
  <div class="container">
		<br>
    <h1 style="color:darkslategrey;">Sayali More</h1>
    <p class="title" style="color:black">Software Developer </p>
		<p class="title">Seeking Spring,Summer 2018 internship</p>

    <div style="margin: 10px 0;">
    	<a href="mailto:sayalimore872@gmail.com" target="_blank" title="Mail me"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://github.com/sayalimore8722" target="_blank" title="Github Account"><i class="fa fa-github"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/sayali-more-91864291/" target="_blank" title="Linkedin Account"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;&nbsp;
			<!--<a href="#"><i class="fa fa-skype"></i></a>&nbsp;&nbsp;&nbsp;-->
   </div>
   <!--<p><button onclick="alert('Choose one of the above icons')">Contact</button></p>-->
  </div>
</div>

<div id="content">
	<div ng-show="home_flag">
		<p style="width:700px;font-size:20px;color:black;" align="justify">Hello,I am a graduate student studying Software Engineering at San Jose State
		 University.
	 	</p>
		 <br>
		 <p style="width:700px;font-size:20px;color:black;" align="justify">I am a MEAN Stack developer and my technical expertise include fluency in Java,AngularJS,NodeJS,
		 MongoDB.I also have in-depth understanding of web services and databases.I love learning new ways to develop softwares with clean,
 			efficient and scalable code.
		</p>
		<br>
		<p style="width:700px;font-size:20px;color:black;" align="justify">When I'm not in front of computer screen,
			I'm probably reading,travelling or listening to music.
		</p>


	</div>

	<div id="plugin" ng-show="resume_flag">
		<object standby="Resume" align="top" width="650" height="600" border="1" data="Resume.pdf"></object>
	</div>

	<div ng-show="project_flag">
		<div style="margin-left:-650px;"><h1><a href="epidemic.html" target="_blank" title="Click for details" style="margin-top:-100px;color:	#20B2AA">Epidemic Alert System using Blockchain</h1></a></div>
		<br>
		<h4 style="margin-left:-40px;"><p style="width:700px;" align="justify">
Infectious diseases are leading cause of mortality and morbidity in all countries. In developing countries,the concern is detecting infectious disease outbreaks early and stopping their mortality,
spread and potential impact on society.Epidemics alert system acts as mediator between public
and health organizations.This alert system has created a network between public, local government,
pharmacies as well as health organisations.If a patient has been detected with infectious
disease,a text alert along with assistance needed to control the spread of disease,is sent to every person in that particular area where disease is detected. Our system also notifies pharmacies
about the infectious disease and notifies local government so that they will take preventive
measures in order to stop spread of disease.Blockchain is used to securely maintain all the records and maintain
flow of data between all the entities.</p></h4><br>

	<h5><p><span style="background-color:powderblue;margin-left:-700px;">NodeJS</span>&nbsp;&nbsp;<span style="background-color:powderblue;">AngularJS</span>
	&nbsp;&nbsp;<span style="background-color:powderblue;">ExpressJS</span>&nbsp;&nbsp;<span style="background-color:powderblue;">IBM Blockchain</span>
  &nbsp;&nbsp;<span style="background-color:powderblue;">REST</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Twilio</span></p>
	<br>
	<br>
	<br>

	<div style="margin-left:-900px;"><br><br><h1 style="margin-top:-50px;color:	#20B2AA">Ebay (Replica)</h1></div>
	<br>
	<h4 style="margin-left:-40px;"><p style="width:700px;" align="justify">
	Ebay application is based on MEAN stack and REST services are also used.The testing is done using JMeter and Mocha.
	</p></h4><br>

<h5><p><span style="background-color:powderblue;margin-left:-700px;">NodeJS</span>&nbsp;&nbsp;<span style="background-color:powderblue;">AngularJS</span>
&nbsp;&nbsp;<span style="background-color:powderblue;">ExpressJS</span>&nbsp;&nbsp;<span style="background-color:powderblue;">MongoDB</span>
&nbsp;&nbsp;<span style="background-color:powderblue;">REST</span>
&nbsp;&nbsp;<span style="background-color:powderblue;">JMeter</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Mocha</span></p>

<div style="margin-left:-620px;"><br><br><h1 style="margin-top:-10px;color:	#20B2AA">Face Recognition Attendance System</h1></div>
<br>
<h4 style="margin-left:-40px;"><p style="width:700px;" align="justify">
Face recognition system was developed using python,HTML,flask and OpenCV Tool.This system would recognize the person’s live image with the
one stoared in database and display matching percentage.MySQLdb was used to store the images.</p></h4><br>

<h5><p><span style="background-color:powderblue;margin-left:-800px;">Python</span>&nbsp;&nbsp;<span style="background-color:powderblue;">HTML</span>
&nbsp;&nbsp;<span style="background-color:powderblue;">Flask</span>&nbsp;&nbsp;<span style="background-color:powderblue;">MySQL</span>
&nbsp;&nbsp;<span style="background-color:powderblue;">OpenCV</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Twilio</span></p>

<div style="margin-left:-750px;"><br><br><h1 style="margin-top:-10px;color:	#20B2AA">Java Parser UML Generator</h1></div>
<br>
<h4 style="margin-left:-40px;"><p style="width:700px;" align="justify">
	Java Parser UML Generator is Java based tool to reverse engineer the Java files to generate class diagrams.

	This command line based tool uses Java Parser library to generate AST by parsing the Java files and then generates the class
	diagram using GraphViz library.Kanban practice was followed during this project.</p></h4><br>

<h5><p><span style="background-color:powderblue;margin-left:-820px;">Java Parser</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Java</span>
&nbsp;&nbsp;<span style="background-color:powderblue;">GraphViz</span>&nbsp;&nbsp;<span style="background-color:powderblue;">PlantUML</span>
&nbsp;&nbsp;<span style="background-color:powderblue;">JUnit</span></p>

<div style="margin-left:-730px;"><br><br><h1 style="margin-top:-10px;color:	#20B2AA">Gas Pump Machine Prototype</h1></div>
<br>
<h4 style="margin-left:-40px;"><p style="width:700px;" align="justify">
	Gas pump machine prototype was developed in Greenfoot using Java.The main aim of the project was to illustrate use of design patterns.
 The team followed scrum practice.</p></h4><br>

<h5><p><span style="background-color:powderblue;margin-left:-650px;">Java</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Command Pattern</span>
&nbsp;&nbsp;<span style="background-color:powderblue;">State Pattern</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Chain of Responsibility Pattern</span>
</p>

<div style="margin-left:-800px;"><br><br><h1 style="margin-top:-10px;color:	#20B2AA">DD Sanity Automation </h1></div>
<br>
<h4 style="margin-left:-40px;"><p style="width:700px;" align="justify">
	Our brief was to reduce the amount of effort and time wasted in manual testing of NVIDIA GPU chip by automation. The project encompassed development of the comprehensive testing
 infrastructure that can help developers detect bugs in the driver by exploiting various tools.</p></h4><br>

<h5><p><span style="background-color:powderblue;margin-left:-1000px;">Java</span>&nbsp;&nbsp;<span style="background-color:powderblue;">C++</span>
&nbsp;&nbsp;<span style="background-color:powderblue;">C#</span>
</p>

<div style="margin-left:-400px;"><br><br><h1 style="margin-top:-10px;color:	#20B2AA">Bluetooth Enabled Mobile Phone Remote Control for PC</h1></div>
<br>
<h4 style="margin-left:-40px;"><p style="width:700px;" align="justify">
	Our aim was to create an application using Java,where user's mobile phone acts as a remote control for the applications present in user's
	 computer. This application will enable user to control various applications
	 and will also enable user to restart, hibernate, shutdown the computer from a remote place without the need for keyboard or mouse. </p></h4><br>

<h5><p><span style="background-color:powderblue;margin-left:-1050px;">Java</span>
</p>

<div style="margin-left:-900px;"><br><br><h1 style="margin-top:-10px;color:	#20B2AA">Musical Website</h1></div>
<br>
<h4 style="margin-left:-40px;"><p style="width:700px;" align="justify">
	Our brief was to design a music store web application using Java,SQL Server with user interface which will enable them to browse,
	search and buy the song items of their choice. </p></h4><br>

<h5><p><span style="background-color:powderblue;margin-left:-1020px;">Java</span>&nbsp;&nbsp;<span style="background-color:powderblue;">SQL</span>

</p>


<div style="margin-left:-800px;"><br><br><h1 style="margin-top:-10px;color:	#20B2AA">Student Project System</h1></div>
<br>
<h4 style="margin-left:-40px;"><p style="width:700px;" align="justify">
	Developed a prototype of student project system using VB.net,oracle which provides each project group login ID and password. Each project
	group can upload
	their documents like project report, abstract etc. The project guide can download the documents and post any news related to Project.</p></h4><br>

<h5><p><span style="background-color:powderblue;margin-left:-1000px;">VB.net</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Oracle</span>
</p>
</div>
<div ng-show="about_flag">
	<p style="width:650px;font-size:20px;color:black;" align="justify">
		Hello,I am a Software developer who is very passionate about coding and software development.I like to learn new
		technologies and work around them.
		<br>
		<br>
		At San Jose State University,I took courses like Distributed Systems,Software System Engineering and
		Enterprise Software Overview.I also developed some projects using Python,Java and Design patterns.
	</p>
	<br>
	<p style="width:650px;font-size:20px;color:black;" align="justify">
			During my internship at NVIDIA Graphics Pvt Ltd,I developed a automated testing framework to perform testing of
		various GPU cheap features.Before automation,manual testing used to consume a lot of time and efforts(about a month for a employee).
		So we proposed a testing infrastructure that automated the manual testing.REST,C++,C#,Java were used for the development of
		DD Sanity Automation.
	 </p>
	<br>
	<br>
	<p>
		<h2 style="color:darkcyan;margin-left:-930px;"><u>Skills : </u></h2>
		<br>

		<h5><p><span style="background-color:powderblue;margin-left:-500px;">NodeJS</span>&nbsp;&nbsp;<span style="background-color:powderblue;">AngularJS</span>
		&nbsp;&nbsp;<span style="background-color:powderblue;">ExpressJS</span>&nbsp;&nbsp;<span style="background-color:powderblue;">IBM Blockchain</span>
	  &nbsp;&nbsp;<span style="background-color:powderblue;">REST</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Twilio</span>
		<span style="background-color:powderblue;">MongoDB</span>&nbsp;&nbsp;<span style="background-color:powderblue;">JMeter</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Mocha</span></p>
		<br>
		<h5><p><span style="background-color:powderblue;margin-left:-780px;">Python</span>&nbsp;&nbsp;<span style="background-color:powderblue;">HTML</span>
		&nbsp;&nbsp;<span style="background-color:powderblue;">Flask</span>&nbsp;&nbsp;<span style="background-color:powderblue;">MySQL</span>
		&nbsp;&nbsp;<span style="background-color:powderblue;">OpenCV</span></p>
		<br>
		<h5><p><span style="background-color:powderblue;margin-left:-580px;">Java</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Command Pattern</span>
		&nbsp;&nbsp;<span style="background-color:powderblue;">State Pattern</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Chain of Responsibility Pattern</span>
		</p>
		<br>
		<h5><p><span style="background-color:powderblue;margin-left:-780px;">Java Parser</span>&nbsp;&nbsp;
		<span style="background-color:powderblue;">GraphViz</span>&nbsp;&nbsp;<span style="background-color:powderblue;">PlantUML</span>
		&nbsp;&nbsp;<span style="background-color:powderblue;">JUnit</span></p>
		<br>
		<h5><p><span style="background-color:powderblue;margin-left:-930px;">VB.net</span>&nbsp;&nbsp;<span style="background-color:powderblue;">Oracle</span>
		</p>

</div>
</div>




</div>

<!--<div class="page-footer">Website developed by myself</div>-->
</div>

		<!-- Include AngularJS from Google's CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

		<script>

		var app = angular.module('myApp', []).run(function($rootScope){

		});
app.controller('myCtrl', ['$scope', function($scope,$rootScope) {
    $scope.message = "";
		$scope.home_flag = true;
		$scope.about_flag = false;
		$scope.resume_flag = false;
		$scope.project_flag = false;
		$scope.hire_flag = false;

    $scope.home = function() {
				$scope.resume_flag = false;
				$scope.project_flag = false;
				$scope.about_flag = false;
				$scope.hire_flag = false;
				$scope.home_flag = true;
    };

		$scope.about = function() {
				$scope.about_flag = true;
				$scope.resume_flag = false;
				$scope.project_flag = false;
				$scope.hire_flag = false;
				$scope.home_flag = false;
			};

		$scope.resume = function() {
			$scope.about_flag = false;
			$scope.project_flag = false;
			$scope.home_flag = false;
			$scope.hire_flag = false;
			$scope.resume_flag = true;
			$scope.message = '';
		};

		$scope.project = function(){
			$scope.about_flag = false;
			$scope.home_flag = false;
			$scope.resume_flag = false;
			$scope.project_flag = true;
			$scope.hire_flag = false;
		}

		$scope.hire_me = function(){
			$scope.about_flag = false;
			$scope.home_flag = false;
			$scope.resume_flag = false;
			$scope.project_flag = false;
			$scope.hire_flag = true;
		}
}]);
		</script>
	</body>
</html>
